@font-face {
  font-family: "iconfont"; /* Project id 3485034 */
  src: url('iconfont.woff2?t=1656439137401') format('woff2'),
       url('iconfont.woff?t=1656439137401') format('woff'),
       url('iconfont.ttf?t=1656439137401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renzheng:before {
  content: "\e811";
}

.icon-bingxiang:before {
  content: "\e90b";
}

.icon-kongtiao:before {
  content: "\e90d";
}

.icon-reshuiqi:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-zixun:before {
  content: "\e6af";
}

.icon-wode:before {
  content: "\e6c5";
}

.icon-icon_bangwozhaofang:before {
  content: "\e61a";
}

